.container{
	display: flex;
	flex-direction: column;
	align-items: center;
}

.messages {
	border-collapse: collapse;
	overflow-y: scroll;
	flex: 1 1 auto;
}

.newMessage {
	display: block;
	flex: 0 0 120px;
	margin-top: auto;
	textarea {
		width: 350px;
	}
}